<!DOCTYPE html>
<html>
	<head>
		<title>Ecommerce</title>
		<%= csrf_meta_tags %>

		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
	</head>

	<div style="<%= "display:none;" if alert.nil? && notice.nil? %>">
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p>
	</div>
	
	<body>
		<%= render "partials/nav" %>
		<div class="col-md-11 no-float center-block">
			<%= yield %>
		</div>
	</body>
</html>
